extends layout.pug 

block content 
    h2 Test 
    h3 API endpoints
    p
        ul
            li
                a(href="/list-devices") list-devices
            li
                a(href="/query-device-data") query-device-data
    h3 Wrapper endpoints
    p 
        Data parsed from the official API endpoints, separated into smaller, easier to query endpoints
    p
        ul
            li
                a(href="/get-device-info") get-device-info: Mac address, name, location
            li     
                a(href="/get-date-utc") get-date-utc: UTC formatted date
            li    
                a(href="/get-date") get-date: Date
            li    
                a(href="/get-wind-direction") get-wind-direction: Wind direction
            li    
                a(href="/get-wind-speed-mph") get-wind-speed-mph: Wind speed in MPH  
            li    
                a(href="/get-wind-gust-mph") get-wind-gust-mph: Max wind speed in the last 10 minutes, mph
            li    
                a(href="/get-max-wind-speed-1d") get-max-wind-speed-1d: Maximum wind speed in last day, mph
            li    
                a(href="/get-wind-gust-direction") get-wind-gust-direction: Wind direction at which the wind gust occurred, 0-360º
            li    
                a(href="/get-avg-wind-direction-2m") get-avg-wind-direction-2m: Average wind direction, 2 minute average, mph
            li    
                a(href="/get-avg-wind-speed-2m") get-avg-wind-speed-2m: Average wind speed, 2 minute average, mph
            li    
                a(href="/get-avg-wind-direction-10m") get-avg-wind-drection-10m: Average wind direction, 10 minute average, 0-360º
            li    
                a(href="/get-avg-wind-speed-10m") get-avg-wind-speed-10m: Average wind speed, 10 minute average, mph
            li    
                a(href="/get-outdoor-temp-f") get-outdoor-temp-f: Outdoor Temperature, ºF
            li    
                a(href="/get-humidity") get-humidity: Outdoor Humidity, 0-100%
            li    
                a(href="/get-relative-pressure") get-relative-pressure: Relative Pressure, inHg
            li    
                a(href="/get-absolute-pressure") get-absolute-pressure: Absolute Pressure, inHg
            li    
                a(href="/get-indoor-temp-f") get-indoor-temp-f: Indoor Temperature, ºF
            li    
                a(href="/get-indoor-humidity") get-indoor-humidity: Indoor Humidity, 0-100%
            li    
                a(href="/get-hourly-rain-rate") get-hourly-rain-rate: Hourly Rain Rate, in/hr
            li    
                a(href="/get-daily-rain-in") get-daily-rain-in: Daily Rain, in
            li    
                a(href="/get-monthly-rain-in") get-monthly-rain-in: Monthly Rain, in
            li 
                a(href="/get-yearly-rain-in") get-yearly-rain-in: Yearly Rain, in
            li    
                a(href="/get-feels-like-temp") get-feels-like-temp: if < 50ºF => Wind Chill, if > 68ºF => Heat Index (calculated on server)
            li    
                a(href="/get-dew-point") get-dew-point: Dew Point, ºF (calculated on server)
                