html
    head 
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        title weather-dashboard
        link(rel="stylesheet", href="/assets/css/styles.css")
        script(defer, src="/assets/js/frontend.js")
    body 
        h1 weather-dashboard
        div(class="page-content")
            block content