/*
*   weather-dashboard
*   styles.css
*
*   Primary stylesheet for the frontend
*/

/* CSS variables */
:root {
    /* Fonts */
    --primary-font: "Arial", "Helvetica", sans-serif;
    --mono-font: "Consolas", monospace;

    /* Colors */
    --background-color: whitesmoke;
    --foreground-color: black;
    --accent-color: blue;
}

body {
    color: var(--foreground-color);
    background-color: var(--background-color);
    font-family: var(--primary-font);
}

.page-content {
    margin: 20px;
    line-height: 1.4;
}

.page-content a {
    padding: 3px;
    border-radius: 3px;
    color: var(--accent-color);
    font-family: var(--mono-font);
}

.page-content a:hover {
    color: var(--background-color);
    background-color: var(--accent-color);
}